header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

body {
  background-color: #f1f6f8;
  margin: 0;
  font-family: Arial, sans-serif;
}


h1 {
  margin: 50px;
  text-align: center;
}

button {
  margin: 10px;
}


#cart-button {
  display: flex;
  align-items: center;
  text-decoration: none;
}

#cart-button img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

#cart-item-count {
  font-weight: bold;
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.product-item img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-bottom: 10px;
}

.product-title {
  margin: 0;
  text-align: center;
}

.product-price {
  margin: 0;
  font-weight: bold;
}

#cart-items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  height: 30px;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.cart-item img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}

#total-price {
  margin: 20px;
  text-align: center;
  font-weight: bold;
}

.product-item img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out;
}

.product-item:hover img {
  transform: scale(1.1);
}
.img.product-item-image {
  width: 60px;
  height: 60px;
}

.body {
  margin: 0;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Standaard stijl voor productitems */
.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  max-width: 100%;
}

.product-item img {
  width: 100%;
  max-height: 200px; /* Maximale hoogte van de afbeelding */
  object-fit: contain; /* Behoud de beeldverhouding en pas in het beschikbare gebied */
  margin-bottom: 10px;
}

#product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-item {
  margin-bottom: 20px;
}
